.hide {
    display: none;
}

body {
    background-color: darkcyan;
    display: flex;
    flex-direction: column;
    place-items: center;
    text-align: center;

}

.Welcome{
    background-color: aqua;
    padding: 30px;
    width: 100%;
    margin-top: -40px;
}